<% include partials/header %>
<% include partials/navbar %>

<h1>Welcome to my blog! You'll find all my posts here</h1>

<% blogs.forEach(function(blog){  %>
        <div class="blog-card">
            <h2><%= blog.title %></h2>
            <img src="<%= blog.image %>" alt="Image of <%= blog.title %> post" class="blog-image">
            <span><%= blog.dateCreated.toDateString() %></span>
            <p><%= blog.body.substring(0, 100) %>... </p>
            <a href="/blogs/<%= blog._id %>"><button class="ui button">More...</button></a> 
        </div>
<% }); %>

<% include partials/footer %>